---
import PastEventEntry from "./PastEventEntry.astro";
const { data } = Astro.props;
import Image from "astro/components/Image.astro";
import pastevents1 from "../../../assets/pastevents1.png";
import pastevents2 from "../../../assets/pastevents2.png";
---

<div class="wrapper">
  <!-- <h1>Past Events</h1> -->
  <Image src={pastevents1} width="303" height="268" quality={80} alt="" class="star1" />
  <Image src={pastevents2} width="176" height="137" quality={80} alt="" class="star2" />
  <!-- <img src="https://i.imgur.com/7QCvE7b.png" class="star1" /> -->
  <!-- <img src="https://i.imgur.com/o44hbTS.png" class="star2" /> -->
  {
    data.map((event, i) => {
      return (
        <div class="pastevent-entry-wrapper" id="pastEvent">
          <PastEventEntry eventData={event} key={i} index={i} />
        </div>
      );
    })
  }
</div>

<style lang="scss">
  .star1,
  .star2 {
    position: absolute;
    z-index: 0;
  }
  .star1 {
    top: 0rem;
    left: 20vw;
  }
  .star2 {
    right: 20vw;
    top: 7.5rem;
    // rotate: 10deg;
  }
  // .star1 {
  //   top: 7rem;
  //   left: 3rem;
  // }
  // .star2 {
  //   right: 2rem;
  //   top: 5rem;
  //   rotate: 10deg;
  // }
  .wrapper {
    width: 98%;
    margin: 0 auto;
    margin-top: 1rem;
    padding-top: 15rem; // remove if not using sign illustration
    // background: var(--brown-400);
    border-radius: 20px; // was 8
    overflow: hidden;
    position: relative;

    h1 {
      // font-family: "Denim-regular";
      color: var(--brown-300);
      text-align: center;
      margin: 5rem 0;
    }
  }

  .pastevent-entry-wrapper {
    margin: 1rem auto;
    background: var(--brown-400);
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s all ease;
    position: relative;
    z-index: 2;
  }

  @media (max-width: 1500px) {
    .star1 {
      // top: 5.25rem;
      // left: 3rem;
      left: 10vw;
      }
      .star2 {
        right: 10vw;
        // right: 2rem;
      // top: 3.5rem;
      rotate: 5deg;
    }
  }
  @media (max-width: 768px) {
    .wrapper {
      // width: 100%;
      // border-radius: 0;
      padding-top: 10rem;
      h1 {
        margin: 2rem auto;
      }
    }
    .star1 {
      // top: 0rem;
      // left: 0rem;
      height: auto;
      width: 200px;
      }
      .star2 {
        // right: 0.5rem;
        // top: 0rem;
        // rotate: 10deg;
        top: 6rem;
        height: auto;
      width: 100px;
    }
    .pastevent-entry-wrapper {
      border-radius: 12px;
    }
  }

  @media (max-width: 576px) {
    .star1 {
      top: 1.85rem;
      // top: 5.5rem;
      left: 2rem;
      width: 125px;
      // width: 100px;
    }
    .star2 {
      right: 0.5rem;
      top: 5rem;
      // rotate: 10deg;
      width: 75px;
    }
    .wrapper {
      padding-top: 8rem;
      border-radius: 8px;
      margin-top: 0;
      transform: translateY(-4rem);
      width: var(--mobile-width);
      h1 {
        margin: 3rem 0;
      }
    }
    .pastevent-entry-wrapper {
      margin: 0.5rem auto;
      display: block;
    }
  }
</style>
