---
import { Image } from "astro:assets";
import endswell from "../../assets/about/endswell.png";
import star from "../../assets/star.png";
import img1 from "../../assets/about/1.png";
import img2 from "../../assets/about/3.png";
import img3 from "../../assets/about/2.png";
import img4 from "../../assets/about/4.png";
import gallery1 from "../../assets/about/gallery-1.png";
import gallery2 from "../../assets/about/gallery-2.png";
import gallery3 from "../../assets/about/gallery-3.png";
import gallery4 from "../../assets/about/gallery-4.png";
---

<div class="wrapper">
  <div class="endswell-hero">
    <Image
      src={endswell}
      alt="A large group of people gathering under a tent during a summer day in BC, enjoying a lovely meal. Shot from a distance with vegetation in the foreground."
      class="endswell-img"
    />
  </div>
  <div class="bio-wrapper">
    <small>About Us</small>
    <div class="bio-header-flex">
      <h1>
        “see you soon” - An expression of farewell, with the intention of
        meeting once again.
      </h1>
      <Image
        src={star}
        alt="See you soon star logo"
        width="100"
        height="100"
        class="star-img"
      />
    </div>
  </div>
  <div class="sticky-section">
    <div class="sticky-left">
      <Image
        src={img1}
        alt="Image of Mike, Kevin and Keith in front of a barn door."
        class=""
        quality={95}
      />
      <Image
        src={img2}
        alt="Image of Kevin carefully setting a table in a modern, floor seated interior."
        class=""
        quality={95}
      />
      <Image
        src={img3}
        alt="Closeup image of a wine glass with the See you soon logo on a linen tablecloth during sunset."
        class=""
        quality={95}
      />
    </div>
    <div class="sticky-middle">
      <p>
        Expanding the spectrum from graphic design, branding, scenography and
        art direction, to packaging and type development, the studio’s work
        embraces holistic examination from research and concept to creation,
        irrespective of its digital or analog nature. <br /><br />
        Deutsche & Japaner works for clients in the fields of fashion, music, culture,
        lifestyle and beauty, placing great emphasis on sustainable experiences.<br
        /><br />
        Since the early years, we have added many layers to what we do; we have teams
        dedicated only to innovation, another team is specialized in fermentation,
        we have fulltime foragers, gardeners, and researchers. We’ve traveled the
        world in search of inspiration, technique, friendship, and new ingredients.
      </p>
    </div>
    <div class="sticky-right">
      <div class="sticky-right-inner">
        <p>
          Deutsche & Japaner works for clients in the fields of fashion, music,
          culture, lifestyle and beauty, placing great emphasis on sustainable
          experiences.
        </p>
        <Image
          src={img4}
          alt="Image of Keith serving food while walking through a cabbage patch."
          class=""
          quality={95}
        />
      </div>
    </div>
  </div>
  <div class="gallery-section">
    <div class="gallery-top">
      <div class="gallery-top-left">
        <Image
          src={gallery1}
          alt="Image of Keith and Kevin laughing as they present the food to the table.."
          class=""
          id="gallery1"
          quality={95}
        />
      </div>
      <div class="gallery-top-right">
        <Image
          src={gallery2}
          alt="Image of the See you soon crew expediting dishes for serving in an warmly lit kitchen."
          id="gallery2"
          class="gallery-top-right-topImg"
          quality={95}
        />
        <Image
          src={gallery3}
          alt="Image of Mike, Keith and Kevin smiling, Mikey and Keith tapping Kevin's head."
          id="gallery3"
          class="gallery-top-right-bottomImg"
          quality={95}
        />
      </div>
    </div>
    <div class="gallery-bottom">
      <Image
        src={gallery4}
        id="gallery4"
        alt="Top-angled view of multiple beautiful dishes, including seafood and duck."
        class=""
        quality={95}
      />
    </div>
  </div>
</div>

<script>
  import { animate, inView } from "motion";

  const gallery1 = document.querySelector("#gallery1");
  const gallery2 = document.querySelector("#gallery2");
  const gallery3 = document.querySelector("#gallery3");
  const gallery4 = document.querySelector("#gallery4");

  const fadeInImg = {
    opacity: 1,
  };
  const fadeInImgTiming = 1.6;
  const easing = [0.33, 0, 0.37, 1];

  inView(gallery1, (info) => {
    animate(
      info.target,
      {
        opacity: 1,
        clipPath: `inset(0% 0% 0% 0%)`,
      },
      {
        duration: fadeInImgTiming,
        easing
      }
    );
  });
  inView(gallery2, (info) => {
    animate(
      info.target,
      {
        opacity: 1,
        clipPath: `inset(0% 0% 0% 0%)`,
      },
      {
        duration: fadeInImgTiming,
        easing
      }
    );
  });
  inView(gallery3, (info) => {
    animate(
      info.target,
      {
        opacity: 1,
        clipPath: `inset(0% 0% 0% 0%)`,
      },
      {
        duration: fadeInImgTiming,
        easing
      }
    );
  });
  inView(gallery4, (info) => {
    animate(
      info.target,
      {
        opacity: 1,
        clipPath: `inset(0% 0% 0% 0%)`,
      },
      {
        duration: fadeInImgTiming,
        easing
      }
    );
  });
</script>

<style lang="scss">
  #gallery1,
  #gallery2,
  #gallery3,
  #gallery4 {
    opacity: 1;
    clip-path: inset(100% 0% 0% 0%);
  }

  .wrapper {
    margin: 5rem auto;
    width: 98%;
    position: relative;
  }
  .endswell-hero {
    position: relative;
    width: 100%;
    .endswell-img {
      width: 100%;
    }
  }

  .bio-wrapper {
    width: 70%;
    margin: 10rem auto;
    margin-bottom: 5rem;
    small {
      color: var(--brown-300);
      display: block;
      margin-bottom: 2rem;
    }
    .bio-header-flex {
      display: flex;
      align-items: center;
      h1 {
        color: var(--brown-300);
      }
      .star-img {
        margin-left: 2rem;
        aspect-ratio: 100/100;
      }
    }
  }

  .sticky-section {
    width: 85%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
  }

  .sticky-left {
    width: 33%;
    img {
      margin: 2rem auto;
    }
    img:first-child {
      margin-top: 0;
    }
  }
  .sticky-middle {
    position: sticky;
    top: 2rem;
    align-self: flex-start;
    width: 33%;
    margin-bottom: 2rem;
    margin-left: 2rem;
    p {
      max-width: 305px;
      color: var(--grey-300);
    }
  }
  .sticky-right {
    width: 33%;

    .sticky-right-inner {
      margin-top: 120vh;
    }
    p {
      color: var(--grey-300);
      margin-bottom: 1rem;
    }
    img {
      width: 100%;
      height: auto;
    }
  }

  .gallery-section {
    width: 100%;
  }
  .gallery-top {
    margin-top: 5rem;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    height: 125vh;

    .gallery-top-left {
      img {
        width: 100%;
        height: auto;
      }
    }

    .gallery-top-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      img {
        width: 100%;
        height: auto;
      }
      .gallery-top-right-topImg {
        width: 40%;
      }
    }
  }
  .gallery-bottom {
    width: 80%;
    position: relative;
    margin: 1rem auto;
    img {
      // width: 100%;
      // object-fit: cover;
      margin: 0 auto;
    }
  }
</style>
