---
import Image from "astro/components/Image.astro";
import trash from "../../assets/trash.png";
import pencil from "../../assets/pencil.png";
import pencil2 from "../../assets/pencil2.png";
import undo2 from "../../assets/undo2.png";
// import doodleStar from "../../assets/doodle-star.png";
import doodleStar2 from "../../assets/doodle-star2.png";
---

<div id="sidebar">
  <button class="tool-wrapper" id="button_clear">
    <Image src={trash} alt="" width="30" height="38" quality={100} />
    <p>Clear</p>
  </button>
  <button class="tool-wrapper" id="button_undo">
    <Image src={undo2} alt="" width="30" height="38" quality={100} />
    <p>Undo</p>
  </button>
  <!-- <button class="tool-wrapper" id="button_erase">
      <div class="tool-icon active" id="eraserTool">
        <Image src={pencil2} alt="" width="30" height="38" quality={100} />
        <p>Eraser</p>
      </div>
      <div class="tool-icon" id="pencilTool">
        <Image src={trash} alt="" width="30" height="38" quality={100} />
        <p>Pencil</p>
      </div>
    </button> -->
</div>
<div class="canvas-container" id="canvas_container">
  <canvas class="lazy-canvas" id="canvas_interface"></canvas>
  <canvas class="lazy-canvas" id="canvas_drawing"></canvas>
  <canvas class="lazy-canvas" id="canvas_temp"></canvas>
  <div class="drawing-cursor" id="canvas_cursor">
    <Image src={pencil} alt="" width="50" height="60" quality={100} />
    <h5 id="canvas_cursor_text">Draw your own star!</h5>
  </div>

  <Image
    src={doodleStar2}
    alt=""
    width="609"
    height="530"
    quality={40}
    class="bg-star active"
  />
</div>

<style is:global>
  .bg-star {
    opacity: 0;
    transition: 0.5s all ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 610/530;
    width: 60%;
    height: auto;
  }

  .bg-star.active {
    opacity: 0.6;
  }

  .drawing-cursor {
    position: absolute;
    top: 0;
    left: 0;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    pointer-events: none;
    display: flex;
    align-items: flex-start;
    color: var(--beige-300);
  }

  .drawing-cursor h5 {
    margin-left: 0.75rem;
    transform: translateY(-10px);
    font-family: "Bradford-Light-Italic";
  }

  .tool-wrapper {
    margin-left: 2rem;
    color: var(--beige-300);
    border: none;
    cursor: pointer;
    transition: 0.35s all ease;
    background: none;
    display: flex;
    align-items: center;
  }
  .tool-wrapper:not(:first-child) {
    padding-top: 2rem;
  }

  .tool-wrapper p {
    opacity: 0;
    transition: 0.3s all ease;
    transform: translateY(10px);
    margin-left: 0.75rem;
    font-family: "Denim-regular";
  }

  .tool-wrapper:hover p {
    opacity: 1;
    transform: translateY(0px);
  }

  .tool-icon {
    opacity: 0;
    transition: all 0.15s ease;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(10px);
    margin-left: 0.25rem;
  }

  .tool-icon.active {
    opacity: 1;
    transition: all 0.35s ease;
    transform: translateY(0px);
  }

  #mobileConsole {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    background: rgba(255, 255, 255, 0.8);
    overflow: auto;
    z-index: 9999;
    font-family: monospace;
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #ccc;
    color: black;
  }

  #sidebar {
    position: absolute;
    z-index: 20;
    margin-top: 2rem;
    display: block;
  }

  #canvas_interface {
    z-index: 15;
    cursor: none;
  }

  #canvas_grid {
    z-index: 14;
  }

  #canvas_temp {
    z-index: 12;
  }

  #canvas_drawing {
    z-index: 10;
  }

  #canvas_container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  #slider_lazy,
  #slider_brush {
    width: 100px;
  }

  .lazy-canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    touch-action: none;
    user-select: none;
  }

  @media (max-width: 992px) {
    .bg-star {
      width: 80%;
    }

    .tool-wrapper {
      margin-top: 1rem;
      margin-left: 1.5rem;
    }
  }
</style>

<script>
  import Scene from "./classes/Scene";

  const scene = new Scene({
    canvasContainer: "canvas_container",
    sidebar: "sidebar",
    canvas: {
      interface: "canvas_interface",
      drawing: "canvas_drawing",
      temp: "canvas_temp",
    },
    cursor: "canvas_cursor",
    cursorText: "canvas_cursor_text",
    button: {
      clear: "button_clear",
      erase: "button_erase",
    },
  });
  scene.init();

  // // Toggle between eraser and pencil tools
  // const eraserButton = document.getElementById("button_erase");
  // const eraserToolIcon = document.getElementById("eraserTool");
  // const pencilToolIcon = document.getElementById("pencilTool");

  // eraserButton.addEventListener("click", () => {
  //   eraserToolIcon.classList.toggle("active");
  //   pencilToolIcon.classList.toggle("active");

  //   // Toggle visibility of canvas elements based on active tool
  //   const isEraserActive = eraserToolIcon.classList.contains("active");
  // });

  const undoButton = document.getElementById("button_undo");
  undoButton.addEventListener("click", () => {
    scene.undo();
  });
</script>
