---
import Layout from "../layouts/Layout.astro";
import MagneticHero from "../components/Hero/MagneticHero.astro";
import HeroContent from "../components/Hero/HeroContent.astro";
import Toast from "../components/Toast/Toast.astro";
import UpcomingEvents from "../components/UpcomingEvents/UpcomingEvents.astro";
// import PastEvents from "../components/PastEvents/PastEvents.astro";
import {
  getHeroImages,
  // getPastEvents,
  getUpcomingEvents,
  getCurrentLocation,
} from "../sanity/api";
import Newsletter from "../components/Newsletter.astro";
import About from "../components/About/About.astro";

const heroImageData = await getHeroImages();
// const pastEventsData = await getPastEvents();
const upcomingEventsData = await getUpcomingEvents();
const currentLocationData = await getCurrentLocation();

console.log(heroImageData);
// console.log(pastEventsData);
console.log(upcomingEventsData);
console.log(currentLocationData);
---

<Layout title="seeyousoon" data={currentLocationData}>
  <section class="hero" id="magneticHero-wrapper">
    <Toast data={upcomingEventsData} />
    <HeroContent />
    <MagneticHero data={heroImageData} />
  </section>
  <section class="upcoming-events" id="upcomingEvents">
    <UpcomingEvents data={upcomingEventsData} />
  </section>
  <section class="about">
    <About />
  </section>
  <section class="past-events">
    <!-- <PastEvents data={pastEventsData} /> -->
  </section>
  <section class="newsletter">
    <Newsletter data={heroImageData.newsletterImg} />
  </section>
</Layout>

<style lang="scss">
  .hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 99vh;
    z-index: 11;
  }
  .about {
    display: block;
    position: relative;
  }
  .upcoming-events {
    position: relative;
    z-index: 13;
    margin-top: 1rem;
  }
  .past-events {
    position: relative;
    z-index: 10;
  }

  .hero,
  .newsletter,
  .past-events {
    background: var(--beige-300);
  }

  @media (max-width: 576px) {
    .hero {
      height: 99svh;
      z-index: 20;
    }
    .upcoming-events {
      z-index: 21;
    }
  }
</style>
