---
const { data } = Astro.props;
import Image from "astro/components/Image.astro";
// import newsletter from "../assets/newsletter.png";

let imgSrcLarge;
let imgSrcSmall;
if (data != null) {
  imgSrcLarge = `${data}?w=328&fm=webp`;
  imgSrcSmall = `${data}?w=150&fm=webp`;
}
---

<section id="mc_embed_signup" class="newsletter-wrapper">
  {
    data != null && (
      <Image
        src={imgSrcLarge}
        srcset={`${imgSrcLarge}, ${imgSrcSmall}`}
        widths={[150, 328]}
        sizes={`(max-width: 576px) 150px, (max-width: 1500px) 328px`}
        decoding="async"
        loading="lazy"
        alt="A seeyousoon star investigates a newsletter with a magnifying lens."
        class="sys-newsletter-image"
        quality={60}
        width={328}
        height={166}
      />
    )
  }
  <form
    action="https://seeyousoon.us18.list-manage.com/subscribe/post?u=5fd9d6ba53f3750f80eee4933&id=4cd9b9b8b9&f_id=00af2ce1f0"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="validate"
    target="_self"
    novalidate=""
  >
    <div id="mc_embed_signup_scroll">
      <h1>Missed an event?</h1>
      <p>Join our mailing list to stay up to date with all our events!</p>
      <div class="mc-field-group">
        <div class="input-container">
          <div class="text-input-wrapper">
            <label for="mce-EMAIL" class="hidden-label">Email address:</label>
            <input
              class="email-input"
              type="email"
              value=""
              name="EMAIL"
              placeholder="yourname@email.com"
              id="mce-EMAIL"
              required
            />
            <span id="mce-EMAIL-HELPERTEXT" class="helperText"></span>
          </div>
          <div class="subscribe-btn-wrapper">
            <label for="mc-embedded-subscribe" class="subscribe-btn-label"
              >Sign me up!</label
            >
            <input
              type="submit"
              value=""
              name="subscribe"
              id="mc-embedded-subscribe"
              class="subscribe-btn"
            />
          </div>
        </div>
      </div>

      <div id="mce-responses" class="clear foot">
        <div class="response" id="mce-error-response" style="display:none">
        </div>
        <div class="response" id="mce-success-response" style="display:none">
        </div>
      </div>
      <!-- do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input
          type="text"
          name="b_5fd9d6ba53f3750f80eee4933_4cd9b9b8b9"
          tabindex="-1"
          value=""
        />
      </div>
    </div>
  </form>
</section>

<style lang="scss" is:global>
  .mce_inline_error {
    font-family: "Denim-Regular";
    background: unset;
    background-color: unset !important;
    color: var(--red) !important;
  }
  .sys-newsletter-image {
    margin: 0 auto;
  }
  .newsletter-wrapper {
    padding: 25vh 0;
    padding-top: 20vh;
    margin: 0 auto;
    text-align: center;
    background: var(--beige-300);
    position: relative;
    z-index: 10;
    h2 {
      color: var(--brown-300);
    }
    p {
      max-width: 490px;
      margin: 0 auto;
      margin-bottom: 4rem;
      color: var(--grey-300) !important;
    }
  }

  .input-container {
    max-width: 550px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    outline: 1px solid var(--grey-100);
    background: var(--beige-100);
    .text-input-wrapper {
      width: 100%;
      position: relative;
      // outline: 1px solid red;
      .hidden-label {
        position: absolute;
        left: -500vw;
        width: 0px;
      }

      .email-input {
        font-family: "Denim-Regular";
        width: calc(
          100% - 140px - 2rem - 16px
        ); // 140px btn width + 10px right margin for subscribe-btn-wrapper, -2rem bc of left padding, 20px bc of left & right margin of the subscribe-btn-wrapper
        float: left;
        height: 100%;
        background: unset;
        border: unset;
        color: var(--grey-300);
        border-radius: 8px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        padding: 1.25rem;
        padding-left: 2rem;
        padding-right: 0rem;
        // outline: 1px solid green;

        ::placeholder {
          color: var(--grey-200);
        }
      }
    }

    .subscribe-btn-wrapper {
      background: var(--brown-300);
      color: var(--beige-300) !important;
      border-radius: 6px;
      position: absolute;
      z-index: 200;
      height: 100%;
      right: 8px;
      width: 140px;
      // height: 52px;
      height: calc(100% - 16px);
      font-size: 18px;
      overflow: hidden;

      .subscribe-btn-label {
        z-index: 1;
        position: relative;
        font-size: 18px !important;
        white-space: nowrap;
        top: 50%;
        left: 50%;
        position: absolute;
        transition: all 0.4s ease;
        transform: translate(-50%, -50%);
      }
      .subscribe-btn {
        z-index: 2;
        cursor: pointer;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: unset;
        border: unset;
        padding: 0;
      }
    }
  }
  .subscribe-btn-wrapper:hover {
    transition: all 0.4s ease;
    .subscribe-btn-label {
      opacity: 0;
      transform: translate(-50%, -150%);
      color: var(--beige-300);
    }
  }
  .subscribe-btn-wrapper:hover:after {
    transform: translate(-50%, -50%);
  }
  .subscribe-btn-wrapper:after {
    padding: 1rem 0;
    transition: all 0.4s ease;
    content: "Sign me up!";
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    font-family: "Denim-Regular";
    font-size: 18px;
    line-height: 130%;
  }

  #mce-responses {
    font-family: "Denim-Regular";
    margin: 1rem auto;
    color: var(--brown-300);
  }

  @media (max-width: 576px) {
    .newsletter-wrapper {
      padding: 7rem 0;
      padding-top: 3rem;
      margin-top: 3rem;
    }
    .newsletter-wrapper {
      width: 95%;
      margin: 0 auto;
      p {
        margin-bottom: 2rem;
        max-width: 80%;
      }
    }
    .sys-newsletter-image {
      max-width: 150px;
      height: auto;
      padding: 1rem 0;
    }
    .input-container {
      .text-input-wrapper {
        .email-input {
          width: calc(100% - 110px - 2rem - 20px);
        }
      }
      .subscribe-btn-wrapper {
        width: 110px;
        .subscribe-btn-label {
          font-size: 14px !important;
        }
      }
    }
    .subscribe-btn-wrapper:after {
      font-size: 14px;
    }
  }
</style>

<script
  type="text/javascript"
  src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>

<script type="text/javascript">
  (function ($) {
    window.fnames = new Array();
    window.ftypes = new Array();
    fnames[0] = "EMAIL";
    ftypes[0] = "email";
    fnames[1] = "FNAME";
    ftypes[1] = "text";
    fnames[2] = "LNAME";
    ftypes[2] = "text";
    fnames[3] = "ADDRESS";
    ftypes[3] = "address";
    fnames[4] = "PHONE";
    ftypes[4] = "phone";
    fnames[5] = "BIRTHDAY";
    ftypes[5] = "birthday";
  })(jQuery);
  var $mcj = jQuery.noConflict(true);
</script>
